@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

@use "abstracts/" as *;
@use "partials/" as *;
@use "breakpoints/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}

body {
  background: $clr-secondary-dark-1;
}
