// @use "abstracts/" as *;
@use "partials/navbar-main";
@use "partials/footer-main";
@use "partials/home-view";

@use "partials/main-section";
@use "partials/service-section";
@use "partials/gallery-section";
@use "partials/img-gallery";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}
