@use "abstracts/" as *;

// dev only
@use "partials/dev";

@use "partials/navbar-main";
@use "partials/footer-main";
@use "partials/home-view";

@use "partials/main-section";
@use "partials/service-section";
@use "partials/gallery-section";
@use "partials/contact-section";
@use "partials/knowledge-section";
@use "partials/img-gallery";
@use "partials/img-modal";
@use "partials/contact-captcha";
@use "partials/contact-popup";
@use "partials/privacy-popup";

@use "partials/globals";
@use "partials/helper";

// Breakpoints:
@use "breakpoints/breakpoint-xs";
@use "breakpoints/breakpoint-sm";
@use "breakpoints/breakpoint-md";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}
