$clr-primary: #f5f5dc;
$clr-primary-light-1: #fff;
$clr-primary-dark-1: #fdfda5;
$clr-primary-dark-2: #ffec7e;
$clr-primary-dark-3: #fdda66;
$clr-primary-dark-4: #ffd13c;

$clr-secondary: #222;
$clr-secondary-light-1: #333;
$clr-secondary-light-2: #444;
$clr-secondary-light-3: #555;
$clr-secondary-light-4: #666;
$clr-secondary-light-5: #777;
$clr-secondary-dark-1: #111;
$clr-secondary-dark-2: #000;
