.navbar-items {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
}
.navbar-items .nav-item {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: #222;
  background: rgba(255, 255, 255, 0.7);
}
.navbar-items .nav-item:hover {
  background: #222;
  color: beige;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #333;
  height: 100px;
}
.footer-container .footer-items {
  display: flex;
  justify-content: center;
  color: beige;
}
.footer-container .footer-items .footer-item {
  padding: 0.5rem;
}
.footer-container .footer-items .footer-item .footer-url {
  text-decoration: none;
  color: beige;
}

.section-main-container,
.section-service-container,
.section-gallery-container,
.section-contact-container {
  /* temp styling for build */
  width: 100%;
}

.section-main-container {
  background-image: url("../img/sectionmainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: sepia(50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main-container .section-main-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: beige;
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px) grayscale(100%);
}
.section-main-container .section-main-banner-container .section-main-logo .logo {
  object-fit: cover;
  height: 200px;
  width: 200px;
  padding: 1rem;
}
.section-main-container .section-main-banner-container .section-main-banner {
  display: flex;
  justify-content: center;
  border-top: 1px solid beige;
}
.section-main-container .section-main-banner-container .section-main-banner .banner-content {
  padding: 1rem;
}
.section-main-container .section-main-banner-container .section-main-options .main-option-btn {
  padding: 0.5rem 1rem;
  background: #c8c83d;
  border: none;
  border-radius: 0.5rem;
}

.section-service-container {
  background-image: url("../img/sectionservicebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section-service-container .section-service-header {
  padding: 1rem;
  text-transform: uppercase;
}
.section-service-container .section-service-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: beige;
}
.section-service-container .section-service-items .service-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  padding: 0.5rem;
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.4);
}
.section-service-container .section-service-items .service-item .service-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.section-service-container .section-service-items .service-item .service-content-container .service-item-header {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.section-service-container .section-service-items .service-item .service-content-container .service-item-description {
  line-height: 1.7;
}
.section-service-container .section-service-items .service-item .dummy-img-container {
  display: flex;
  justify-content: flex-end;
}
.section-service-container .section-service-items .service-item .dummy-img-container .dummy-img {
  object-fit: cover;
  max-height: 300px;
}

.section-gallery-container {
  background: rgb(216, 255, 216);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.section-contact-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
  background: beige;
}
.section-contact-container .section-contact-header {
  width: 100%;
  padding: 1rem;
}
.section-contact-container .section-contact-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section-contact-container button {
  background: #333;
  color: beige;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
.section-contact-container button:hover {
  background: #555;
  color: white;
}
.section-contact-container h5,
.section-contact-container p {
  padding: 1rem;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.gallery-container .gallery-header {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.gallery-container .img-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.gallery-container .img-gallery .gallery-item {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.gallery-container .img-gallery .gallery-item .gallery-item-header {
  padding: 1rem;
}
.gallery-container .img-gallery .gallery-item .gallery-item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.gallery-container .img-gallery .gallery-item .gallery-item-description {
  text-align: center;
  padding: 1rem;
}

.modal-render-container .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.modal-render-container .modal-container .modal-header,
.modal-render-container .modal-container .modal-description {
  padding: 1rem;
}
.modal-render-container .modal-container .close-modal-btn,
.modal-render-container .modal-container .next-image,
.modal-render-container .modal-container .prev-image {
  height: 50px;
  width: 50px;
  background: none;
  border: none;
}
.modal-render-container .modal-container .close-modal-btn:hover,
.modal-render-container .modal-container .next-image:hover,
.modal-render-container .modal-container .prev-image:hover {
  filter: invert(40%);
}
.modal-render-container .modal-container .close-modal-btn {
  position: fixed;
  top: 50px;
  right: 50px;
}
.modal-render-container .modal-container .next-image {
  position: fixed;
  top: 50%;
  right: 50px;
}
.modal-render-container .modal-container .prev-image {
  position: fixed;
  top: 50%;
  left: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-disabled {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */