@use "../abstracts/" as *;

@media (max-width: $screen-sm-max) {
  // globals
  .separator-container {
    #test,
    #test2,
    #test3 {
      border-radius: 0px;
    }
  }

  // section main
  .section-main-container {
    .section-main-banner-container {
      .section-main-banner {
        .banner-content {
          padding: 1rem;
          font-size: 22px !important;
        }
      }
    }
  }

  // section gallery
  .section-gallery-container {
    .gallery-container {
      .img-gallery {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }

      .modal-render-container {
        .modal-container {
          .close-modal-btn,
          .next-image-btn,
          .prev-image-btn {
            position: fixed;
            padding: 1rem !important;
            background: rgba($color: $clr-secondary-dark-1, $alpha: 0.9);
            border-radius: 100%;
            transition: all 0.2s;
            &:hover {
              filter: invert(0%) !important;
            }
          }

          .close-modal-btn {
            background-image: url("../img/icons/close.svg");
            background-repeat: no-repeat;
            background-size: 70% 70%;
            background-position: center center;
            top: 15px;
            right: 15px;
          }

          .next-image-btn {
            background-image: url("../img/icons/arrow-next.svg");
            background-repeat: no-repeat;
            background-size: 70% 70%;
            background-position: center center;
            right: 15px;
            transform: translateY(-50%);
          }

          .prev-image-btn {
            background-image: url("../img/icons/arrow-prev.svg");
            background-repeat: no-repeat;
            background-size: 70% 70%;
            background-position: center center;
            left: 15px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  // section knowledge
  .section-knowledge-container {
    .card-container {
      grid-template-columns: 1fr !important;
    }
  }
}
