$screen-sm-max: 768px;

@media (max-width: $screen-sm-max) {
  .section-gallery-container {
    .gallery-container {
      .img-gallery {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }

      // .modal-render-container {
      //   .modal-container {
      //     .close-modal-btn,
      //     .next-image,
      //     .prev-image {
      //       height: 20px;
      //       width: 20px;
      //       background: none;
      //       border: none;
      //     }

      //     .close-modal-btn {
      //       position: fixed;
      //       top: 25px;
      //       right: 25px;
      //     }

      //     .next-image {
      //       position: fixed;
      //       top: 50%;
      //       right: 15px;
      //     }

      //     .prev-image {
      //       position: fixed;
      //       top: 50%;
      //       left: 15px;
      //     }
      //   }
      // }
    }
  }

  .section-knowledge-container {
    .card-container {
      grid-template-columns: 1fr !important;
    }
  }
}
