@use "../abstracts/" as *;

@media (max-width: $screen-md-max) {
  // globals
  .separator-container {
    #test,
    #test2,
    #test3 {
      border-radius: 0px;
    }
  }

  // section main
  .section-main-container {
    .section-main-banner-container {
      .section-main-banner {
        .banner-content {
          padding: 1rem;
          font-size: 33px !important;
        }
      }
    }
  }

  // section gallery
  .section-gallery-container {
    .gallery-container {
      .img-gallery {
        gap: 1rem;

        .gallery-item {
          padding: 1rem 0;
        }
      }
    }
  }

  .section-knowledge-container {
    .card-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}
