@use "../abstracts/" as *;

.contact-popup-container {
  z-index: 99;
  position: fixed;
  bottom: 0;
  pointer-events: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  color: $clr-secondary;

  .contact-popup {
    position: relative;
    bottom: 0;
    pointer-events: all;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background: tomato;
    height: 100%;
    max-height: 150px;
    width: 100%;
    min-width: 300px;
    max-width: 650px;
    padding-bottom: 2rem;

    .close-popup {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      padding: 0.5rem;
    }

    .contact-popup-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .contact-popup-description {
        padding: 1rem;
        text-align: center;
      }

      .contact-btn {
        padding: 0.5rem 1rem;
        border: none;
      }
    }
  }
}
