@use "../abstracts/" as *;

.contact-popup-container {
  z-index: 99;
  position: fixed;
  bottom: 0;
  pointer-events: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  color: $clr-secondary;

  .contact-popup {
    position: relative;
    bottom: 0;
    pointer-events: all;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba($color: $clr-secondary-dark-1, $alpha: 1);
    height: max-content;
    max-height: 200px;
    width: 100%;
    max-width: 400px;
    padding: 1rem;

    .contact-popup-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .contact-popup-description {
        padding: 0.5rem 0.5rem 0 0.5rem;
        text-align: center;
        color: $clr-primary;
        width: 100%;
        &:nth-of-type(2) {
          padding-bottom: 1rem;
        }
      }

      .contact-popup-btn-container {
        .contact-btn,
        .close-btn {
          padding: 0.5rem 1rem;
          border: none;
          font-size: 16px;
          font-weight: bold;
          margin: 0 0.5rem;
          width: 100px;
          transition: all 0.2s;
          background: $clr-primary-dark-1;

          &:hover {
            background-color: $clr-primary-dark-4;
          }
        }
      }
    }
  }
}
