@use "../abstracts/" as *;

.section-contact-container {
  background-image: url("../img/sectioncontactbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: $navbar-scroll-buffer;

  min-height: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;

  .section-contact-header {
    width: 100%;
    padding: 1rem;
    background: rgba($color: $clr-primary-light-1, $alpha: 0.8);
    color: $clr-secondary-dark-1;
  }

  .section-contact-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    div .enable-contact-info-btn {
      background: $clr-secondary-light-1;
      color: $clr-primary;
      padding: 0.5rem 1rem;
      margin: 2rem;
      font-size: 16px;
      border: none;
      transition: all 0.3s;

      &:hover {
        background: $clr-secondary-dark-1;
        color: $clr-primary-dark-4;
      }
    }

    .section-contact-info {
      width: 100%;

      .contact-email {
        width: 100%;
        padding: 1rem;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        background: rgba($color: $clr-primary-light-1, $alpha: 0.8);
        margin: 2rem 0;
        animation: pulse 0.5s ease-out 0.3s 1 forwards;
      }
    }
  }

  h5 {
    padding: 1rem;
  }
}
