@use "../abstracts/" as *;

.captcha-container {
  position: relative;
  width: 320px;
  height: auto;
  padding: 3rem;
  margin-bottom: 2rem;
  background: $clr-secondary;
  color: $clr-primary-light-1;
  transition: all 0.3s;
  animation: slideInCaptcha 0.2s linear 1 forwards;

  .captcha {
    padding-left: 2em;
    text-align: center;
    display: block;
    margin-bottom: 0.5em;
    font-size: 2em;
    letter-spacing: 8px;
    font-weight: bold;
    &::first-letter {
      position: absolute;
      margin-right: -3.6em;
    }
  }

  .description {
    display: block;
    padding: 0.5rem;
    color: $clr-primary-dark-1;
  }

  #captcha-repeat {
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 5px;
  }

  input[type="submit"] {
    background: $clr-primary-dark-4;
    color: $clr-secondary;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
  }

  .captcha-result {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;

    .success {
      color: $clr-success;
      animation: msgPulse 0.3s linear 1 forwards;
    }

    .error {
      color: $clr-error;
      animation: msgPulse 0.3s linear 1 forwards;
    }
  }
}
