@use "../abstracts/" as *;

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: $clr-secondary;
  height: 100px;
  width: 100%;

  .footer-items {
    display: flex;
    justify-content: center;
    color: $clr-primary;

    .footer-item {
      padding: 0.5rem;

      .footer-url {
        text-decoration: none;
        color: $clr-primary;
      }
    }
  }
}
