@use "../abstracts/" as *;

.section-gallery-container {
  padding-top: $navbar-scroll-buffer;

  background: $clr-secondary-light-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
