// @use "../abstracts/" as *;

.section-gallery-container {
  // background-image: url("../img/sectiongallerybg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  // scroll padding:
  padding: 70px 1rem 1rem 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
