@use "../abstracts/" as *;

.section-gallery-container {
  padding: $navbar-scroll-buffer;
  background: $clr-secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
