@use "../abstracts/" as *;

.section-header {
  text-align: center;
  width: 100%;
  color: $clr-primary-dark-2;
  background: $clr-secondary;
  font-size: 45px;
  font-weight: bold;
  font-family: "Amatic";
  letter-spacing: 5px;
  padding: 2rem;
}

.popup-header {
  font-size: 30px;
  font-weight: bold;
  font-family: "Amatic";
  letter-spacing: 4px;
}
