@use "../abstracts/" as *;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba($clr-secondary-dark-2, 0.9);
  color: $clr-primary-light-1;
  z-index: 99;

  .close-modal-btn,
  .next-image-btn,
  .prev-image-btn {
    position: fixed;
    padding: 25px;
    background: rgba($color: $clr-secondary-dark-1, $alpha: 0.9);
    border-radius: 100%;
    transition: all 0.2s;
    &:hover {
      filter: invert(20%);
    }
  }

  .close-modal-btn {
    background-image: url("../img/icons/close.svg");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    top: 25px;
    right: 25px;
  }

  .next-image-btn {
    background-image: url("../img/icons/arrow-next.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
    right: 25px;
    transform: translateY(-50%);
  }

  .prev-image-btn {
    background-image: url("../img/icons/arrow-prev.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
    left: 25px;
    transform: translateY(-50%);
  }

  .modal-header {
    padding: 0.5rem;
    text-align: center;
  }

  .modal-image-wrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .modal-gallery-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .modal-description {
    padding: 0.5rem;
    text-align: center;
  }
}
