@use "../abstracts/" as *;

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // align-items: center;

  color: $clr-primary;
  height: 100%;
  width: 100%;
  max-width: 1200px;

  // consolidate and delete old stylings
  .img-gallery {
    background: #333;
    height: 100%;
    width: 100%;
    padding: 3rem;

    .carousel {
      .carousel-inner {
        height: 400px;
        width: 600px;
        .carousel-item {
          height: 400px;
          width: 600px;
          img {
            height: 400px;
            width: 600px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .img-gallery {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 2rem;
    display: flex;
    justify-content: center;

    .gallery-item {
      max-height: auto;
      max-width: 400px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      .gallery-item-header {
        width: 100%;
        text-align: center;
        padding: 1rem;
        background: $clr-secondary-dark-1;
        color: $clr-primary;
        font-size: 18px;
      }

      .gallery-item-image {
        width: 100%;
        object-fit: cover;
      }

      .gallery-item-description {
        width: 100%;
        text-align: center;
        padding: 1rem;
        background: $clr-secondary-dark-1;
        color: $clr-primary-light-1;
      }
    }
  }
}
