@use "../abstracts/" as *;

.gallery-container {
  display: flex;
  justify-content: center;
  // align-items: center;

  color: $clr-primary;
  height: 100%;
  width: 100%;
  max-width: 1200px;

  .img-gallery {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 2rem;
    display: flex;
    justify-content: center;

    .gallery-item {
      max-height: auto;
      max-width: 400px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      .gallery-item-header {
        width: 100%;
        text-align: center;
        padding: 1rem;
        background: $clr-secondary-dark-1;
        color: $clr-primary;
        font-size: 18px;
      }

      .gallery-item-image {
        width: 100%;
        object-fit: cover;
      }

      .gallery-item-description {
        width: 100%;
        text-align: center;
        padding: 1rem;
        background: $clr-secondary-dark-1;
        color: $clr-primary-light-1;
      }
    }
  }
}
