@use "../abstracts/" as *;

.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  .gallery-header {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    .gallery-item {
      max-height: 300px;
      max-width: 400px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      .gallery-item-header {
        padding: 1rem;
      }

      .gallery-item-image {
        width: 100%;
        object-fit: cover;
      }

      .gallery-item-description {
        text-align: center;
        padding: 1rem;
      }
    }
  }
}
