@use "../abstracts/" as *;

.section-main-container {
  background-image: url("../img/sectionmainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  filter: sepia(50%);
  height: 100vh;
  min-height: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .section-main-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $clr-primary;
    width: 100%;
    background: rgba($color: $clr-secondary-dark-2, $alpha: 0.4);
    backdrop-filter: blur(4px) grayscale(100%);

    .section-main-logo {
      .logo {
        object-fit: cover;
        height: 200px;
        width: 200px;
        padding: 1rem;
      }
    }

    .section-main-banner {
      display: flex;
      justify-content: center;
      border-top: 1px solid $clr-primary;

      .banner-content {
        padding: 1rem;
      }
    }
  }
}
