// @use "../abstracts/" as *;

.section-main-container {
  background-image: url("../img/sectionmainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: sepia(50%);
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .section-main-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 100%;
    padding: 1rem;
    background: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(4px) grayscale(100%);

    .section-main-logo {
      .logo {
        object-fit: cover;
        height: 200px;
        width: 200px;
        padding: 1rem;
      }
    }

    .section-main-banner {
      display: flex;
      justify-content: center;
      border-top: 1px solid beige;

      .banner-content {
        padding: 1rem;
      }
    }

    .section-main-options {
      .main-option-btn {
        padding: 0.5rem 1rem;
        background: darken(beige, 40%);
        border: none;
        border-radius: 0.5rem;
      }
    }
  }
}
