@use "../abstracts/" as *;

.navbar-container {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  background: rgba($color: $clr-secondary-dark-2, $alpha: 0.9);

  .navbar {
    padding: 0;

    .container-fluid {
      .offcanvas {
        .offcanvas-body {
          .navbar-nav {
            .nav-item {
              padding: 0 5px;
              .nav-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 75px;
                color: $clr-primary;
                transition: all 0.4s;
                &:hover {
                  color: $clr-primary-dark-4;
                  background: rgba($color: $clr-secondary, $alpha: 0.9);
                }

                .nav-link-icon {
                  font-size: 1.1rem;
                  padding: 3px;
                }

                .nav-link-text {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
