@use "../abstracts/" as *;

.navbar-container {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  background: rgba($color: $clr-secondary-dark-2, $alpha: 0.9);

  .navbar-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: max-content;

    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 70px;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      color: $clr-primary-dark-2;
      font-size: 14px;
      transition: all 0.3s;

      &:hover {
        background: $clr-secondary-dark-1;
        color: $clr-primary-light-1;
      }

      .nav-item-icon {
        padding: 5px;
        height: 35px;
        width: 35px;
      }
    }
  }
}
