// @use "../abstracts/" as *;

.section-service-container {
  // scroll padding:
  padding-top: 70px;

  background-image: url("../img/sectionservicebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .section-service-header {
    padding: 1rem;
  }

  .section-service-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1rem;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
    color: beige;

    .service-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1200px;
      padding: 1rem;
      margin-top: 1rem;
      background: rgba($color: #000000, $alpha: 0.4);

      .service-content-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;

        .service-item-header {
          font-size: 1.5rem;
          padding-bottom: 1rem;
        }
        .service-item-description {
          line-height: 1.7;
        }
      }
      .dummy-img-container {
        display: flex;
        justify-content: flex-end;

        .dummy-img {
          display: block;
          object-fit: contain;
          max-width: 100%;
          height: auto;
          flex-shrink: 1;
        }
      }
    }
  }
}
