@use "../abstracts/" as *;

// to integrate later on:
.accordion-button {
  font-weight: 900;
}

.section-service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: $navbar-scroll-buffer;
  padding-bottom: 4rem;
  background: $clr-secondary;

  .section-service-accordion {
    width: 100%;
    max-width: 1200px;

    .accordion-item {
      .accordion-header {
        button {
          font-size: 18px;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
      .accordion-collapse {
        background: $clr-secondary-dark-1;
        .accordion-body {
          p {
            color: $clr-primary-light-1;
            margin: 0;
            padding: 1rem;
          }
        }
      }
    }
  }
}
