@use "../abstracts/" as *;

.section-service-container {
  padding-top: $navbar-scroll-buffer;

  background: $clr-secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .section-service-header {
    color: $clr-primary;
    font-size: 20px;
    padding: 1rem;
  }

  .section-service-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1rem;
    width: 100%;
    color: $clr-primary;

    .service-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1200px;
      padding: 1rem;
      margin-top: 2rem;
      background: rgba($color: $clr-secondary-light-2, $alpha: 1);

      .service-content-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;

        .service-item-header {
          font-size: 1.5rem;
          padding-bottom: 1rem;
        }
        .service-item-description {
          line-height: 1.7;
        }
      }
      .dummy-img-container {
        display: flex;
        justify-content: flex-end;

        .dummy-img {
          display: block;
          object-fit: contain;
          max-width: 100%;
          height: auto;
          flex-shrink: 1;
        }
      }
    }
  }
}
